/*/pycache
/*/venv

.env.*

venv
venv/
/venv
/venv/

/node_modules
/package-lock.json
/package.json

node_modules/
package-lock.json/
package.jso/

/node_modules/
/package-lock.json/
/package.json/

node_modules
package-lock.json
package.json