<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Biotrônica</title>
  <link rel="stylesheet" href="../style/style.css">
 
</head>
<body>

  <div id="chat-container">
    <input type="text" id="usernameInput" placeholder="Username" onkeypress="handleUsernameKeyPress(event)" > 
    <button onclick="connect()">Conectar</button>

    <div id="chat">
      <textarea id="messages" readonly></textarea>
      <input type="text" id="messageInput" placeholder="Escreva sua mensagem..." onkeypress="handleKeyPress(event)" >
      <button onclick="sendMessage()">Enviar</button>
    </div>
  </div>

  <button id="disconnectButton" onclick="disconnect()">Desconectar</button>

  <script>
    let username;
    let ws;

    function connect() {
    username = document.getElementById('usernameInput').value;
    if (!username) {
        alert('Por favor escolha um username.');
        return;
    }

    ws = new WebSocket('ws://localhost:7777');
    // Armazenar o nome de usuário no objeto WebSocket
    ws.username = username;

    // Event Listener para quando a conexão WebSocket é aberta com sucesso
    ws.addEventListener('open', () => {
        // Exibir o chat e esconder elementos de entrada e botão de conexão
        document.getElementById('chat').style.display = 'block';
        document.getElementById('usernameInput').style.display = 'none';
        document.querySelector('button').style.display = 'none';
        document.getElementById('messageInput').style.display = 'block';
        document.getElementById('disconnectButton').style.display = 'block';
        document.getElementById('messages').value = ''; // Limpar mensagens ao reconectar
    });

    // Event Listener para quando uma mensagem é recebida
    ws.addEventListener('message', (event) => {
        const messagesTextarea = document.getElementById('messages');
        // Adicionar a mensagem ao textarea de mensagens
        messagesTextarea.value += event.data + '\n';
    });

    // Event Listener para quando a conexão WebSocket é fechada
    ws.addEventListener('close', () => {
        alert('Connection closed');
        // Esconder o chat e mostrar elementos de entrada e botão de conexão
        document.getElementById('chat').style.display = 'none';
        document.getElementById('usernameInput').style.display = 'block';
        document.querySelector('button').style.display = 'block';
        document.getElementById('messageInput').style.display = 'none';
        document.getElementById('disconnectButton').style.display = 'none';

        // Informar desconexão no chat apenas se o nome de usuário estiver definido
        if (username) {
            const messagesTextarea = document.getElementById('messages');
            messagesTextarea.value += `O usuário ${username} se desconectou do chat.\n`;
        }
    });
}

    function sendMessage() {
        const messageInput = document.getElementById('messageInput');
        const message = messageInput.value;

        if (message.trim() !== '') {
             // Envia a mensagem para o servidor via WebSocket
            ws.send(JSON.stringify({ username, message }));
            // Limpa o campo de entrada de mensagem
            messageInput.value = '';
        }
    }

    function disconnect() {
        if (ws && ws.username) {
            // Enviar mensagem de desconexão antes de fechar a conexão
            const disconnectMessage = `O usuário ${ws.username} se desconectou do chat.`;
            ws.send(JSON.stringify({ username: ws.username, message: disconnectMessage }));
            // Fechar conexão
            ws.close();
        }
}
function handleKeyPress(event) {
    if (event.key === "Enter") {
        event.preventDefault(); 
        sendMessage();
    }
}

function handleUsernameKeyPress(event) {
    if (event.key === "Enter") {
        event.preventDefault(); 
        connect();
    }
}

</script>
</body>
</html>
